<?xml version="1.0"?>
<ruleset name="ReformBox">
	<description>PHPCS ruleset for the ReformBox plugin.</description>

	<rule ref="WordPress"/>

	<arg name="extensions" value="php"/>
	<arg name="parallel" value="4"/>

	<file>reformbox.php</file>
	<file>includes</file>
	<exclude-pattern>*/build/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
</ruleset>
